<ion-header translucent>
  <ion-toolbar>
    <ion-title>Legg til oppskrift</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal(false)">Avbryt</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center">
  <ion-item>
    <ion-label position="floating">Navn på oppskrift</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Beskrivelse</ion-label>
    <ion-textarea [(ngModel)]="description"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Minutter å lage</ion-label>
    <ion-input [(ngModel)]="minutes"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Bilde URL</ion-label>
    <ion-input [(ngModel)]="url"></ion-input>
  </ion-item>

  <ion-button (click)="dismissModal(true)" expand="block">Legg til oppskrift</ion-button>
</ion-content>